* {
  margin: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h3 {
  text-align: center;
}

.box {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0px 150px;
}

.map {
  margin: auto;
}

#MM-01 {
  stroke: #fff;
  stroke-opacity: 0.5;
  fill: green;
}

#MM-01:hover {
  fill: lightgray;
}

#MM-11 {
  stroke: #fff;
  stroke-opacity: 0.5;
  fill: gray;
}

#MM-11:hover {
  fill: lightgray;
}

#MM-05 {
  stroke: #fff;
  stroke-opacity: 0.5;
  fill: orangered;
}

#MM-05:hover {
  fill: lightgray;
}

#MM-17 {
  stroke: #fff;
  stroke-opacity: 0.5;
  fill: lightseagreen;
}

#MM-17:hover {
  fill: lightgray;
}

#MM-03 {
  stroke: #fff;
  stroke-opacity: 0.5;
  fill: darkmagenta;
}

#MM-03:hover {
  fill: lightgray;
}

#MM-07 {
  stroke: #fff;
  stroke-opacity: 0.5;
  fill: deepskyblue;
}

#MM-07:hover {
  fill: lightgray;
}

#MM-02 {
  stroke: #fff;
  stroke-opacity: 0.5;
  fill: deeppink;
}

#MM-02:hover {
  fill: lightgray;
}

#MM-12 {
  stroke: #fff;
  stroke-opacity: 0.5;
  fill: darkorange;
}

#MM-12:hover {
  fill: lightgray;
}

#MM-13 {
  stroke: #fff;
  stroke-opacity: 0.5;
  fill: darkkhaki;
}

#MM-13:hover {
  fill: lightgray;
}

#MM-04 {
  stroke: #fff;
  stroke-opacity: 0.5;
  fill: saddlebrown;
}

#MM-04:hover {
  fill: lightgray;
}

#MM-12 {
  stroke: #fff;
  stroke-opacity: 0.5;
  fill: indianred;
}

#MM-12:hover {
  fill: lightgray;
}

#MM-06 {
  stroke: #fff;
  stroke-opacity: 0.5;
  fill: navy;
}

#MM-06:hover {
  fill: lightgray;
}

#MM-15 {
  stroke: #fff;
  stroke-opacity: 0.5;
  fill: darkgoldenrod;
}

#MM-15:hover {
  fill: lightgray;
}

#MM-16 {
  stroke: #fff;
  stroke-opacity: 0.5;
  fill: darkolivegreen;
}

#MM-16:hover {
  fill: lightgray;
}

#MM-03 {
  stroke: #fff;
  stroke-opacity: 0.5;
  fill: lemonchiffon;
}

#MM-03:hover {
  fill: lightgray;
}

#MM-14 {
  stroke: #fff;
  stroke-opacity: 0.5;
  fill: lightsteelblue;
}

#MM-14:hover {
  fill: lightgray;
}

.map svg {
  stroke: #fff;
  stroke-opacity: 0.5;
  fill: rgb(0, 234, 0);
}
.map svg path {
  transition: 0.5s;
}

.map svg path:hover {
  fill: #fff;
}

body {
  gap: 1000px;
  justify-content: space-between;
}

.head-title {
  color: rgb(1, 1, 133);
  padding: 300px;
  font-size: 26px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#displayBox {
  border-radius: 10px;
  /* width: 400px; */
  height: auto;
  color: aqua;
  background-color: rgb(223, 223, 223);
  padding: 150px 20px;
}

#MM17 {
  width: 100%;
  padding: 0;
  padding: 20px 100px;
}

#MM17 :hover {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 66, 165, 0.993);
  border-radius: 5px;
}

#MM17 li {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: lightseagreen;
  border-radius: 5px;
  animation: fadeinout 0.5s linear forwards;
}

#MM17 a {
  cursor: pointer;
}

#MM14 {
  width: 100%;
  padding: 0;
  padding: 20px 100px;
}

#MM14 :hover {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 66, 165, 0.993);
  border-radius: 5px;
  list-style-type: none;
  animation: fadeinout 2s linear forwards;
}

#MM14 li {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: lightgray;
  border-radius: 5px;
  animation: fadeinout 0.5s linear forwards;
}

#MM04 {
  width: 100%;
  padding: 0;
  padding: 20px 100px;
}

#MM04 :hover {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 66, 165, 0.993);
  border-radius: 5px;
  list-style-type: none;
  animation: fadeinout 2s linear forwards;
}

#MM04 li {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: saddlebrown;
  border-radius: 5px;
  animation: fadeinout 0.5s linear forwards;
}

#MM03 {
  width: 100%;
  padding: 0;
  padding: 20px 100px;
}

#MM03 :hover {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 66, 165, 0.993);
  border-radius: 5px;
  list-style-type: none;
  animation: fadeinout 2s linear forwards;
}

#MM03 li {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: rgb(223, 191, 12);
  border-radius: 5px;
  animation: fadeinout 0.5s linear forwards;
}

#MM16 {
  width: 100%;
  padding: 0;
  padding: 20px 100px;
}

#MM16 :hover {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 66, 165, 0.993);
  border-radius: 5px;
  list-style-type: none;
  animation: fadeinout 2s linear forwards;
}

#MM16 li {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: darkolivegreen;
  border-radius: 5px;
  animation: fadeinout 0.5s linear forwards;
}

#MM07 {
  width: 100%;
  padding: 0;
  padding: 20px 100px;
}

#MM07 :hover {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 66, 165, 0.993);
  border-radius: 5px;
  list-style-type: none;
  animation: fadeinout 2s linear forwards;
}

#MM07 li {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: deepskyblue;
  border-radius: 5px;
  animation: fadeinout 0.5s linear forwards;
}

#MM12 {
  width: 100%;
  padding: 0;
  padding: 20px 100px;
}

#MM12 :hover {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 66, 165, 0.993);
  border-radius: 5px;
  list-style-type: none;
  animation: fadeinout 2s linear forwards;
}

#MM12 li {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: indianred;
  border-radius: 5px;
  animation: fadeinout 0.5s linear forwards;
}

#MM13 {
  width: 100%;
  padding: 0;
  padding: 20px 100px;
}

#MM13 :hover {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 66, 165, 0.993);
  border-radius: 5px;
  list-style-type: none;
  animation: fadeinout 2s linear forwards;
}

#MM13 li {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: darkkhaki;
  border-radius: 5px;
  animation: fadeinout 0.5s linear forwards;
}

#MM02 {
  width: 100%;
  padding: 0;
  padding: 20px 100px;
}

#MM02 :hover {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 66, 165, 0.993);
  border-radius: 5px;
  list-style-type: none;
  animation: fadeinout 2s linear forwards;
}

#MM02 li {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: deeppink;
  border-radius: 5px;
  animation: fadeinout 0.5s linear forwards;
}

#MM15 {
  width: 100%;
  padding: 0;
  padding: 20px 100px;
}

#MM15 :hover {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 66, 165, 0.993);
  border-radius: 5px;
  list-style-type: none;
  animation: fadeinout 2s linear forwards;
}

#MM15 li {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: darkgoldenrod;
  border-radius: 5px;
  animation: fadeinout 0.5s linear forwards;
}

#MM05 {
  width: 100%;
  padding: 0;
  padding: 20px 100px;
}

#MM05 :hover {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 66, 165, 0.993);
  border-radius: 5px;
  list-style-type: none;
  animation: fadeinout 2s linear forwards;
}

#MM05 li {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: orangered;
  border-radius: 5px;
  animation: fadeinout 0.5s linear forwards;
}

.list-container {
  display: none;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.background {
  background: url("https://images.pexels.com/photos/1095624/pexels-photo-1095624.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260")
    center top no-repeat #252746;
  background-size: cover;
  display: block;
  width: 100%;
  height: 1000px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.background-texture {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#0f0140e6),
    to(rgba(255, 214, 117, 0.9))
  );
  background: linear-gradient(to top, #0f0140e6, rgba(255, 214, 117, 0.9));
  background-size: cover;
  width: 100%;
  height: 1000px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.carousel {
  width: 100%;
  overflow-x: scroll;
  padding: 30px;
  padding-top: 80px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.carousel__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
}

.categories__title {
  color: rgb(2, 0, 100);
  font-size: 22px;
  position: absolute;
  padding-left: 10px;
  margin-top: 35px;
}

.carousel-item {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  background-color: #95bcd6;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 70px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 1000ms all;
  transition: 1000ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  position: relative;
}

.carousel-item:hover ~ .carousel-item {
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 1;
}

.carousel-item__img {
  width: 200px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-item__details {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.9)),
    to(rgba(0, 0, 0, 0))
  );
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  font-size: 10px;
  opacity: 0;
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-item__details:hover {
  opacity: 1;
}

.carousel-item__details span {
  font-size: 0.9rem;
  color: #2ecc71;
}

.carousel-item__details .controls {
  padding-top: 180px;
}

.carousel-item__details .carousel-item__details--title,
.carousel-item__details--subtitle {
  color: #fff;
  margin: 5px 0;
}
